.add-products {
  padding: 25px 20px 35px;
}

.all-products__wrapper {
  margin: 0 auto;
  width: 320px;
}

.add-products__title {
  margin: 0;
  padding-bottom: 36px;

  color: $black-color;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  border-bottom: 1px solid #cdcdcd;
}

.add-products__list {
  @include list-reset;
}

.add-products__item-wrapper {
  margin: 0 auto;
  width: 320px;
}

.add-products__item {
  padding-top: 13px;
  padding-bottom: 19px;

  border-bottom: 1px solid #cdcdcd;
}

.add-products__item-title {
  margin: 0;
  margin-bottom: 13px;

  color: $grey-color;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.add-products__table {
  margin-bottom: 15px;
}

.add-products__table-row {
  display: flex;
  justify-content: space-between;

  width: 320px;

  font-family: "Arial", sans-serif;
  line-height: 14px;
}

.add-products__link {
  display: block;

  margin: 0 auto;
  padding: 10px 0;
  width: 320px;

  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.add-products__gift {
  margin-top: 36px;

  background-image: url("../../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: $green-color;
}

.add-products__gift-wrapper {
  margin: 0 auto;
  padding: 186px 60px 43px;
  width: 320px;
}

.add-products__gift-text {
  margin: 0 auto;
  width: 160px;

  color: $white-color;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
