.add-products {
  position: relative;

  padding: 25px 0 35px;

  &::before {
    content: "";
    position: absolute;
    top: 40px;
    z-index: -1;
    width: 100%;
    height: 1px;
    background-color: $green-color;
  }
}

.add-products__title {
  display: inline-block;

  margin: 0;
  margin-bottom: 34px;
  padding: 0 20px;
  width: auto;

  color: $black-color;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  background-color: $white-color;
}

.add-products__list {
  @include list-reset;

  margin-bottom: 34px;
}

.add-products__item {
  margin: 0 20px;
  margin-top: -1px;
  padding: 14px 0 17px;

  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;

  &:first-child {
    margin-top: 0;
  }
}

.add-products__item-title {
  margin: 0;
  margin-bottom: 9px;

  color: $grey-color;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.add-products__table {
  margin-bottom: 13px;
}

.add-products__table-row {
  display: flex;
  justify-content: space-between;

  width: 280px;

  font-family: "Arial", sans-serif;
  line-height: 14px;
}

.add-products__price {
  text-transform: uppercase;
}

.add-products__link {
  display: block;

  margin: 0 auto;
  padding: 10px 0;
  width: 100%;

  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.add-products__gift {
  margin: 0 20px 0;

  background-image: url("../../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 5px 0;
  background-size: cover;
  background-color: $green-color;
}

.add-products__gift-wrapper {
  margin: 0 auto;
  padding: 188px 0 43px;
}

.add-products__gift-text {
  margin: 0 auto;
  width: 170px;

  color: $white-color;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .add-products {
    padding: 0;

    &::before {
      content: "";
      position: absolute;
      top: 22px;
      height: 1px;
      width: 100%;
      background-color: $green-color;
      z-index: -1;
    }
  }

  .add-products__wrapper {
    margin: 0 auto;
    width: 98%;
  }

  .add-products__title {
    position: relative;
    left: 27px;

    margin-bottom: 80px;
    padding: 0 36px;

    font-size: 36px;
    line-height: 36px;

    background-color: $white-color;

    border: none;
  }

  .add-products__list {
    margin-bottom: 67px;
  }

  .add-products__item {
    padding-top: 25px;
    padding-bottom: 27px;

    border: 1px solid #cdcdcd;

    box-sizing: border-box;

    &:not(:first-child) {
      margin-top: -1px;
    }
  }

  .add-products__item-wrapper {
    display: flex;
    flex-wrap: wrap;

    margin: 0 auto;
    width: 89%;
  }

  .add-products__item-title {
    margin: 0;
    margin-right: auto;

    font-size: 20px;
    line-height: 20px;
  }

  .add-products__table {
    margin-bottom: 20px;
  }

  .add-products__table-row {
    margin-left: auto;
    width: auto;


    font-size: 16px;
    line-height: 20px;
  }

  .add-products__price {
    margin-left: 38px;
    width: 50px;
    text-align: right;
  }

  .add-products__link {
    width: 89%;
  }

  .add-products__gift-wrapper {
    margin-bottom: 76px;
    padding: 0;
    width: 240px;
    // временная высота
    height: 200px;
  }

  .add-products__gift-text {
    margin: 0;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .add-products__wrapper {
    width: 1220px;
  }

  .add-products__title {
    left: -36px;

    margin-bottom: 80px;
  }

  .add-products__block-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 86px;
    width: 1220px;
  }

  .add-products__list {
    margin-bottom: 0;
  }

  .add-products__item {
    display: flex;
    align-items: center;

    margin: 0;
    padding-top: 15px;
    padding-bottom: 16px;
    width: 895px;

    border-left: none;
    border-right: none;
  }

  .add-products__item-wrapper {
    align-items: center;
  }

  .add-products__table {
    margin: 0;
    margin-top: 5px;
  }

  .add-products__table-row {
    width: 288px;
  }

  .add-products__link {
    padding: 10px;
    margin-left: 38px;
    width: 290px;
  }

  .add-products__gift {
    margin: 0;
    height: auto;
    width: 245px;
  }
}
