.add-products {
  position: relative;

  padding: 25px 20px 35px;
}

.add-products__title {
  margin: 0;
  padding-bottom: 36px;

  color: $black-color;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;

  border-bottom: 1px solid #cdcdcd;
}

.add-products__list {
  @include list-reset;
}

.add-products__item-wrapper {
  margin: 0 auto;
  width: 320px;
}

.add-products__item {
  padding-top: 13px;
  padding-bottom: 19px;

  border-bottom: 1px solid #cdcdcd;
}

.add-products__item-title {
  margin: 0;
  margin-bottom: 13px;

  color: $grey-color;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.add-products__table {
  margin-bottom: 15px;
}

.add-products__table-row {
  display: flex;
  justify-content: space-between;

  width: 320px;

  font-family: "Arial", sans-serif;
  line-height: 14px;
}

.add-products__price {
  text-transform: uppercase;
}

.add-products__link {
  display: block;

  margin: 0 auto;
  padding: 10px 0;
  width: 320px;

  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.add-products__gift {
  margin-top: 36px;

  background-image: url("../../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
  background-color: $green-color;
}

.add-products__gift-wrapper {
  margin: 0 auto;
  padding: 186px 60px 43px;
  width: 320px;
}

.add-products__gift-text {
  margin: 0 auto;
  width: 160px;

  color: $white-color;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .add-products {
    padding: 0;

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      height: 1px;
      width: 100%;
      background-color: $green-color;
      z-index: -1;
    }
  }

  .add-products__wrapper {
    margin: 0 auto;
    width: 708px;
  }

  .add-products__title {
    margin-bottom: 100px;
    padding: 0 36px;
    width: 340px;

    font-size: 36px;
    line-height: 36px;

    background-color: $white-color;

    border: none;
  }

  .add-products__item {
    padding-top: 20px;
    padding-bottom: 20px;

    border: 1px solid #cdcdcd;

    &:not(:first-child) {
      margin-top: -1px;
    }
  }

  .add-products__item-wrapper {
    display: flex;
    flex-wrap: wrap;

    width: 632px;
  }

  .add-products__item-title {
    margin-right: auto;

    font-size: 20px;
    line-height: 20px;
  }

  .add-products__table {
    margin-bottom: 20px;
  }

  .add-products__table-row {
    margin-left: auto;
    width: auto;


    font-size: 16px;
    line-height: 20px;
  }

  .add-products__link {
    width: 632px;
  }

  .add-products__gift-wrapper {
    margin-bottom: 76px;
    padding: 0;
    width: 240px;
  }

  .add-products__gift-text {
    margin: 0;

    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .add-products__wrapper {
    width: 1220px;
  }

  .add-products__title {
    margin-bottom: 81px;
  }

  .add-products__block-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 86px;
    width: 1220px;
  }

  .add-products__item-wrapper {
    align-items: center;
  }

  .add-products__item {
    display: flex;
    align-items: center;

    padding-top: 22px;
    padding-bottom: 17px;
    width: 895px;

    border-left: none;
    border-right: none;
  }

  .add-products__table-row {
    width: 288px;
  }

  .add-products__link {
    margin-left: 38px;
    width: 244px;
  }

  .add-products__gift {
    margin: 0;
    width: 245px;
  }
}
