.all-products {
  position: relative;

  padding: 78px 20px 25px;

  border-bottom: 1px solid #ebebeb;
}

.all-products__wrapper {
  margin: 0 auto;
  width: 280px;
}

.all-products__title {
  margin: 0;
  margin-bottom: 8px;

  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

.all-products__text {
  margin: 0;
  margin-bottom: 21px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.all-products__link {
  padding: 10px 0;
  width: 100%;

  color: $light-grey-color;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;

  background-color: #f2f2f2;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba($light-grey-color, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .all-products {
    padding: 160px 0 0;
    width: 324px;

    border: 2px solid #f2f2f2;

    box-sizing: border-box;
  }

  .all-products__wrapper {
    width: 246px;
  }

  .all-products__title {
    margin: 0 auto;
    margin-bottom: 23px;
    width: 140px;

    font-size: 20px;
    line-height: 22px;
  }

  .all-products__text {
    margin: 0 auto;
    margin-bottom: 87px;
    width: 170px;

    font-size: 16px;
    line-height: 18px;
  }

  .all-products__link {
    display: block;

    margin: 0 auto;
    width: 249px;
  }
}

@media (min-width: $desktop-width) {
  .all-products {
    width: 245px;
  }

  .all-products__wrapper {
    width: 168px;
  }

  .all-products__link {
    width: 168px;
  }
}

@media (min-width: $tablet-width) {
  .all-products {
    padding: 161px 0 36px;
    width: 324px;

    border: 2px solid #f2f2f2;

    box-sizing: border-box;
  }

  .all-products__wrapper {
    width: 246px;
  }

  .all-products__title {
    margin: 0 auto;
    margin-bottom: 23px;
    width: 140px;

    font-size: 20px;
    line-height: 22px;
  }

  .all-products__text {
    margin: 0 auto;
    margin-bottom: 97px;
    width: 170px;

    font-size: 16px;
    line-height: 18px;
  }

  .all-products__link {
    display: block;

    margin: 0 auto;
    width: 249px;
  }
}

@media (min-width: $desktop-width) {
  .all-products {
    width: 245px;
  }

  .all-products__wrapper {
    width: 168px;
  }

  .all-products__link {
    width: 168px;
  }
}
