.catalog__list {
  @include list-reset;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    gap: 141px 60px;

    margin: 0 auto;
    margin-bottom: 68px;
    width: 93%;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    grid-template-columns: 245px 245px 245px 245px;
    gap: 143px 80px;

    margin-bottom: 75px;
    width: 1220px;
  }
}
