.contacts {
  position: relative;
}

.contacts__block-wrapper {
  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  padding: 28px 20px 26px;
}

.contacts__title {
  margin: 0;
  width: 130px;

  color: #111111;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.contacts__adress {
  width: 140px;

  font-family: "Arial", sans-serif;
  line-height: 20px;
  font-style: normal;
}

.contacts__map-image {
  display: block;
}

@media (min-width: $tablet-width) {
  .contacts {
    width: auto;
  }

  .contacts__block-wrapper {
    padding: 65px 0 58px;
    width: 626px;
  }

  .contacts__title {
    width: 171px;

    font-size: 20px;
    line-height: 25px;
  }

  .contacts__adress {
    width: 160px;

    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  .contacts__city {
    display: block;

    margin-top: 18px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__wrapper {
    position: relative;

    margin: 0 auto;
    width: 1220px;
  }

  .contacts__block-wrapper {
    position: absolute;
    top: 95px;

    padding: 65px 86px 58px 76px;
    width: 410px;

    background-color: $white-color;
  }

  .contacts__adress {
    text-align: left;
  }
}
