.data {
  margin: 0;
  padding: 0 20px 24px;

  font-size: 16px;
  line-height: 18px;

  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.data__wrapper {
  margin: 0 auto;
  width: 280px;
}

.data__row {
  display: flex;
  align-items: center;

  width: 280px;
  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.data__label {
  margin-right: 10px;

  text-transform: uppercase;
}

.data__input {
  flex-grow: 2;

  padding: 13px 15px;

  border: 1px solid #e7e7e7;
}

@media (min-width: $tablet-width) {
  .data {
    font-size: 20px;
    line-height: 30px;

    border: none;
  }

  .data__wrapper {
    width: 630px;
  }

  .data__row {
    width: 630px;
  }
}

@media (min-width: $desktop-width) {
  .data {
    padding: 0;
  }

  .data__wrapper {
    width: 570px;
  }

  .data__row {
    width: 570px;
  }
}
