.data {
  margin: 0;
  padding: 0 20px 22px;

  font-size: 16px;
  line-height: 18px;

  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.data__wrapper {
  margin: 0 auto;
  width: 280px;
}

.data__row {
  display: flex;
  align-items: center;

  margin-bottom: 13px;

  &:last-child {
    margin-bottom: 0;
  }
}

.data__label {
  margin-right: 13px;

  text-transform: uppercase;
}

.data__input {
  flex-grow: 1;

  padding: 13px 15px;

  border: 1px solid #e7e7e7;

  &::placeholder {
    text-transform: uppercase;
  }

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border-color: $light-grey-color;
    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .data {
    margin: 0 auto;
    margin-bottom: 72px;
    padding: 0;
    width: 82%;

    font-size: 20px;
    line-height: 30px;

    border: none;
  }

  .data__row {
    margin-bottom: 20px;
  }

  .data__label {
    margin-right: 17px;
  }

  .data__input {
    padding: 13px 20px 14px;
  }
}

@media (min-width: $desktop-width) {
  .data {
    margin: 0;
    padding: 0;
    width: 570px;
  }

  .data__wrapper {
    width: 570px;
  }

  .data__row {
    width: 570px;
  }
}
