.features {
  margin: 0 20px;
  margin-bottom: 46px;
}

.features__title {
  margin: 0;
  margin-bottom: 39px;

  color: $black-color;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.features__list {
  @include list-reset;
}

.features__item {
  position: relative;

  max-width: 320px;
  margin-bottom: 26px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    width: 60px;
    height: 60px;
    background-color: $green-color;
    background-repeat: no-repeat;
  }

  &--eco {
    &::before {
      background-image: url("../../img/eco.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/eco@2x.png");
        background-size: cover;
      }
    }
  }

  &--powder {
    &::before {
      background-image: url("../../img/powder.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/powder@2x.png");
        background-size: cover;
      }
    }
  }

  &--eating {
    &::before {
      background-image: url("../../img/eating.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/eating@2x.png");
        background-size: cover;
      }
    }
  }

  &--time {
    &::before {
      background-image: url("../../img/time.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/time@2x.png");
        background-size: cover;
      }
    }
  }
}

.features__description {
  margin: 0;
  padding-left: 80px;

  font-family: "Arial", sans-serif;
}

.features__transfer {
  display: none;
}

@media (min-width: $tablet-width) {
  .features {
    margin: 0;
    padding-bottom: 47px;

    border-bottom: 1px solid #e6e6e6;
  }

  .features__title {
    margin: 0 auto;
    margin-bottom: 32px;
    width: 708px;

    font-size: 60px;
    line-height: 60px;
  }

  .features__list {
    display: grid;
    grid-template-columns: 250px 250px;
    gap: 37px 135px;

    margin: 0 auto;
    width: 708px;
  }

  .features__item {
    position: relative;

    margin-bottom: 0;

    &::before {
      top: 40px;
      width: 80px;
      height: 80px;
    }

    &--eco {
      &::before {
        background-image: url("../../img/eco-tablet.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../../img/eco-tablet@2x.png");
        }
      }

      &::after {
        content: "1";
      }
    }

    &--powder {
      &::before {
        background-image: url("../../img/powder-tablet.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../../img/powder-tablet@2x.png");
        }
      }

      &::after {
        content: "2";
        right: 5px;
      }
    }

    &--eating {
      &::before {
        background-image: url("../../img/eating-tablet.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../../img/eating-tablet@2x.png");
        }
      }

      &::after {
        content: "3";
        right: 5px;
      }
    }

    &--time {
      &::before {
        background-image: url("../../img/time-tablet.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../../img/time-tablet@2x.png");
        }
      }

      &::after {
        content: "4";
        right: 3px;
      }
    }

    &--eco,
    &--powder,
    &--eating,
    &--time {
      &::after {
        content: "";
        position: absolute;
        right: 20px;
        top: 0;
        z-index: -1;
        color: #f2f2f2;
        font-size: 280px;
        line-height: 280px;
      }
    }
  }

  .features__description {
    padding: 151px 0 57px 0;

    font-size: 16px;
    line-height: 24px;
  }

  .features__transfer {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .features {
    margin: 0 auto;
    padding-bottom: 69px;
    width: 1220px;

    border: none;
  }

  .features__title {
    margin: 0;
    margin-bottom: 34px;
  }

  .features__list {
    grid-template-columns: 250px 250px 250px 250px;
    gap: 0 75px;

    margin: 0 auto;
    width: 1220px;
  }

  .features__description {
    width: 250px;

    font-size: 16px;
    line-height: 24px;
  }
}
