.form-contacts {
  position: relative;

  margin: 0;
  padding: 0;
  padding-bottom: 24px;

  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 43px;
    height: 1px;
    width: 100%;
    background-color: $green-color;
    z-index: -1;
  }
}

.form-contacts__title {
  position: relative;

  margin: 26px 0 35px;
  padding-left: 20px;
  width: 200px;

  color: $black-color;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;

  background-color: $white-color;
}

.form-contacts__wrapper {
  padding: 0 20px;
}

.form-contacts__row {
  position: relative;

  display: flex;
  align-items: center;

  margin: 0;
  margin-bottom: 13px;

  font-size: 16px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-contacts__label {
  margin-right: 10px;

  text-transform: uppercase;
}

.form-contacts__input-wrapper {
  position: relative;
  flex-grow: 1;
}

.form-contacts__input {
  padding: 12px 15px 14px;
  width: 100%;

  text-transform: uppercase;

  border: 1px solid #e7e7e7;

  box-sizing: border-box;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    border: 2px solid $light-grey-color;
  }

  // &:invalid {
  //   border: 2px solid #ff8282;
  // }
}

.form-contacts__icon {
  position: absolute;

  &--email {
    top: 16px;
    right: 15px;
    width: 20px;
    height: 14px;
    stroke: $grey-color;
  }

  &--phone {
    top: 12px;
    right: 13px;
    width: 20px;
    height: 20px;
    fill: $grey-color;
  }
}

.form-contacts__input:focus ~ .form-contacts__icon {
  fill: $green-color;
  stroke: $green-color;
}

// .form-contacts__input:invalid + .form-contacts__icon {
//   fill: #ff8282;
//   stroke: #ff8282;
// }

@media (min-width: $tablet-width) {
  .form-contacts {
    padding-bottom: 65px;

    &::before {
      top: 49px;
    }
  }

  .form-contacts__container {
    margin: 0 auto;
    width: 82%;
  }

  .form-contacts__title {
    right: 39px;

    margin-bottom: 76px;
    padding: 0 42px 0 39px;
    width: auto;

    font-size: 36px;
    line-height: 36px;
  }

  .form-contacts__wrapper {
    padding: 0;
  }

  .form-contacts__row {
    margin-bottom: 20px;
  }

  .form-contacts__label {
    margin-right: 18px;

    font-size: 20px;
    line-height: 30px;
  }

  .form-contacts__input {
    padding: 17px 20px 15px;

    &::placeholder {
      font-size: 20px;
    }

    &--email {
      padding-left: 22px;
    }

    &--phone {
      padding-left: 15px;
    }
  }

  .form-contacts__icon {
    &--email {
      top: 18px;
    }

    &--phone {
      top: 15px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form-contacts {
    padding-bottom: 67px;
  }

  .form-contacts__container {
    width: 1220px;
  }

  .form-contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 0;
    width: 1220px;
  }

  .form-contacts__row-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .form-contacts__row {
    margin-bottom: 0;
    width: 570px;
  }
}
