.page-header {
  position: relative;
}

.page-header__logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 11px 20px;

  border-bottom: 1px solid #e6e6e6;

  &--inner {
    padding-top: 10px;
    padding-bottom: 14px;
  }
}

.page-header__logo-image {
  margin-right: auto;


  &:hover,
  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-icon {
  width: 33px;
  height: 37px;
}

.page-header__sign {
  position: absolute;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__logo-sign {
  width: 101px;
  height: 18px;
}


@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 92%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 26px 0 0;
  }

  .page-header__logo-wrapper {
    padding: 0;
    width: 174px;

    border: none;
  }

  .page-header__logo-icon {
    width: 174px;
    height: 52px;
  }

  .page-header__sign {
    display: none;
  }

  @media (min-width: $desktop-width) {
    .page-header {
      margin-bottom: 23px;
      padding-top: 55px;
      width: 1220px;
    }

    .page-header__logo-wrapper {
      width: 202px;
    }

    .page-header__logo-icon {
      width: 202px;
      height: 59px;
    }
  }
}
