.page-header__wrapper {
  border-bottom: 1px solid #e6e6e6;
}

.page-header__logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding: 11px 20px;
  width: 60%;
}

.page-header__logo-image {
  margin-right: auto;
}

.page-header__logo-icon {
  width: 33px;
  height: 37px;
}

.page-header__logo-sign {
  width: 101px;
  height: 18px;
}


@media (min-width: $tablet-width) {
  .page-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    width: 92%;
    margin: 0 auto;
    margin-bottom: 5px;
    padding: 35px 0 0;
  }

  .page-header__wrapper {
    border: none;
  }

  .page-header__logo-wrapper {
    padding: 0;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    .page-header {
      margin-bottom: 23px;
      padding-top: 65px;
      width: 1220px;
    }
  }
}
