.page {
  box-sizing: border-box;
}

.page__body {
  margin: 0;
  padding: 0;
  min-width: 320px;

  color: $light-grey-color;

  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}

.page__title {
  margin: 0;
  padding: 30px 20px 40px;

  color: $black-color;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;

  border-bottom: 1px solid #ebebeb;
}

@media (min-width: $tablet-width) {
  .page__title {
    margin: 34px auto 125px;
    width: 92%;

    font-size: 60px;
    line-height: 60px;

    border: none;
  }
}

@media (min-width: $desktop-width) {
  .page__title {
    margin-top: 53px;
    width: 1220px;
  }
}
