.product {
  position: relative;

  margin: 0 auto;
  padding: 19px 20px 25px;

  border-bottom: 1px solid #ebebeb;
}

.product__wrapper {
  margin: 0 auto;
  width: 320px;
}

.product__layout-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 320px;
}

.product__image-link {
  padding: 20px 36px 10px;
  width: 80px;
}

.product__info {
  margin-bottom: 22px;
  width: 140px;
}

.product__title {
  margin: 0;
  margin-bottom: 14px;
  width: 80px;

  color: $grey-color;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.product__transfer {
  display: none;
}

.product__table {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.product__table-row {
  display: flex;
  justify-content: space-between;

  width: 140px;
}

.product__link {
  padding: 10px 0;
  width: 100%;

  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .product {
    padding: 161px 37px 39px 39px;
    width: 324px;

    background-color: #f2f2f2;

    border: none;

    box-sizing: border-box;
  }

  .product__wrapper {
    width: 248px;
  }

  .product__layout-wrapper {
    display: block;
    width: 100%;
  }

  .product__image-link {
    position: absolute;

    top: -50px;
  }

  .product__info {
    margin-bottom: 33px;
    width: 100%;
  }

  .product__title {
    margin: 0 auto;
    margin-bottom: 14px;
    width: 174px;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .product__transfer {
    display: block;
  }

  .product__table {
    font-size: 16px;
  }

  .product__table-row {
    padding: 7px 0 9px;
    width: 248px;

    border-bottom: 1px solid #cdcdcd;
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;
  }

  .product__wrapper {
    width: 168px;
  }

  .product__title {
    line-height: 21px;
  }

  .product__table-row {
    width: 168px;
  }
}
