.programs {
  margin-bottom: 27px;
}

.programs__list {
  @include list-reset;

  margin: 0 20px;
}

.programs__item {
  position: relative;

  padding: 30px 20px 0 20px;
  margin-bottom: 19px;

  background-color: #f2f2f2;

  &:last-child {
    margin-bottom: 0;
  }

  &--slim {
    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 22px;
      width: 50px;
      height: 53px;
      background-image: url("../img/cat_back-slim.png");
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/cat_back-slim@2x.png");
        background-size: cover;
      }
    }
  }

  &--pro {
    &::before {
      content: "";
      position: absolute;
      top: 24px;
      left: 14px;
      width: 67px;
      height: 50px;
      background-image: url("../img/cat_back-pro.png");
      background-repeat: no-repeat;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/cat_back-pro@2x.png");
        background-size: cover;
      }
    }
  }
}

.programs__title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 70px;

  color: $black-color;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.programs__text {
  margin: 0;
  padding-bottom: 23px;

  font-family: "Arial", sans-serif;
  text-align: left;

  border-bottom: 1px solid #d9d9d9;
}

.programs__link {
  position: relative;

  display: block;

  padding-top: 19px;
  padding-bottom: 22px;

  color: $black-color;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    left: 100px;
    top: 25px;
    width: 18px;
    height: 2px;
    background-color: $black-color;
  }

  &::after {
    content: "";
    position: absolute;
    left: 118px;
    top: 20px;
    border: 6px solid transparent;
    border-left: 6px solid $black-color;
  }

  &:hover {
    &::before {
      width: 23px;
      transition-duration: 0.3s;
    }

    &::after {
      left: 123px;
      transition-duration: 0.3s;
    }
  }
}

@media (min-width: $tablet-width) {
  .programs__list {
    margin: 0 auto;
    margin-bottom: 45px;
    width: 92%;
  }

  .programs__item {
    margin-bottom: 30px;
    padding-top: 77px;
    padding-left: 52px;
    padding-bottom: 57px;

    &--slim {
      &::before {
        top: 82px;
        left: 445px;
        width: 200px;
        height: 211px;
        background-image: url("../img/cat_back-slim-tablet.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cat_back-slim-tablet@2x.png");
        }
      }
    }

    &--pro {
      &::before {
        top: 91px;
        left: 410px;
        width: 268px;
        height: 200px;
        background-image: url("../img/cat_back-pro-tablet.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cat_back-pro-tablet@2x.png");
        }
      }
    }
  }

  .programs__title {
    padding-left: 0;
    margin-bottom: 24px;

    font-size: 36px;
    line-height: 36px;
  }

  .programs__text {
    padding-bottom: 0;
    margin-bottom: 52px;
    width: 340px;

    color: $black-color;
    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .programs__link {
    padding: 0;

    font-size: 20px;
    line-height: 30px;

    &::before {
      top: 14px;
      left: 130px;
    }

    &::after {
      top: 9px;
      left: 147px;
    }

    &:hover {
      &::after {
        left: 152px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .programs__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 68px;
    width: 1220px;
  }

  .programs__item {
    margin-bottom: 0;
    padding: 77px 48px 59px 52px;

    &--slim {
      &::before {
        top: 40px;
        left: 53px;
        width: 100px;
        height: 106px;
        background-image: url("../img/cat_back-slim-desktop.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cat_back-slim-desktop@2x.png");
        }
      }
    }

    &--pro {
      &::before {
        top: 48px;
        left: 34px;
        width: 134px;
        height: 100px;
        background-image: url("../img/cat_back-pro-desktop.png");

        @media (min-resolution: 2dppx) {
          background-image: url("../img/cat_back-pro-desktop@2x.png");
        }
      }
    }
  }

  .programs__title {
    padding-left: 162px;
    margin-bottom: 73px;
  }

  .programs__text {
    margin-bottom: 27px;
    width: 470px;
  }

  .programs__link {
    &::after {
      left: 148px;
    }
  }
}
