.program {
  margin: 0;
  padding: 28px 20px 21px;

  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.program__row {
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 0;
  }
}

.program__label {
  position: relative;

  padding-left: 45px;

  color: $grey-color;
  font-size: 16px;
  line-height: 18px;

  text-transform: uppercase;

  cursor: pointer;

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    padding: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    box-sizing: border-box;
  }
}

.program__input:checked ~ .program__label::before {
  background-color: $green-color;
  background-clip: content-box;
}

.program__input:hover ~ .program__label::before {
  border-color: #bababa;
}

.program__input:focus ~ .program__label::before {
  border-color: #bababa;
}

.program__input:disabled ~ .program__label::before {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .program {
    margin: 0 auto;
    margin-bottom: 48px;
    padding: 29px 28px 30px;
    width: 82%;

    border: 1px solid #e7e7e7;

    box-sizing: border-box;
  }

  .program__row {
    margin-bottom: 23px;
  }

  .program__label {
    padding-left: 60px;

    font-size: 20px;
    line-height: 30px;

    &::before {
      padding: 10px;
      width: 40px;
      height: 40px;
    }
  }
}

@media (min-width: $desktop-width) {
  .program {
    margin: 0;
    width: 570px;
  }
}
