.programs {
  margin-bottom: 27px;
}

.programs__list {
  @include list-reset;

  margin: 0 20px;
}

.programs__item {
  padding: 30px 20px 0 20px;
  margin-bottom: 19px;

  background-color: #f2f2f2;

  &:last-child {
    margin-bottom: 0;
  }
}

.programs__title {
  margin: 0;
  margin-bottom: 29px;
  padding-left: 70px;

  color: $black-color;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
}

.programs__text {
  margin: 0;
  padding-bottom: 23px;

  font-family: "Arial", sans-serif;
  text-align: left;

  border-bottom: 1px solid #d9d9d9;
}

.programs__link {
  position: relative;

  display: block;

  padding-top: 19px;
  padding-bottom: 22px;

  color: $black-color;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .programs__list {
    margin: 0 auto;
    margin-bottom: 45px;
    width: 92%;
  }

  .programs__item {
    margin-bottom: 30px;
    padding-top: 77px;
    padding-left: 52px;
    padding-bottom: 57px;
  }

  .programs__title {
    padding-left: 0;
    margin-bottom: 24px;

    font-size: 36px;
    line-height: 36px;
  }

  .programs__text {
    padding-bottom: 0;
    margin-bottom: 52px;
    width: 340px;

    color: $black-color;
    font-size: 16px;
    line-height: 24px;

    border: none;
  }

  .programs__link {
    padding: 0;

    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .programs__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 68px;
    width: 1220px;
  }

  .programs__item {
    margin-bottom: 0;
    padding: 77px 48px 59px 52px;
  }

  .programs__title {
    padding-left: 162px;
    margin-bottom: 73px;
  }

  .programs__text {
    margin-bottom: 27px;
    width: 470px;
  }
}
