.promo {
  position: relative;

  margin-bottom: 22px;
}

.promo__text-wrapper {
  position: relative;

  margin-bottom: 135px;

  background-color: $green-color;
  background-image: url("../../img/cat-background-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/cat-background-image@2x.jpg");
  }
}

.promo__overlay {
  position: absolute;

  width: 100%;
  height: 100%;

  background-color: rgba($green-color, 0.85);
  z-index: 0;
}

.promo__title {
  position: relative;
  z-index: 1;

  margin: 0 auto;
  margin-bottom: 27px;
  padding: 27px 20px 0;

  color: $white-color;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

.promo__slogan {
  position: relative;
  z-index: 1;

  margin: 0 auto;
  padding-bottom: 165px;

  color: $white-color;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
}

.promo__image {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 42px;

  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 270px;
}

.promo__link {
  display: block;

  margin: 0 20px;
  padding: 12px 0 11px;

  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .promo {
    padding-bottom: 505px;

    background-color: $white-color;

    z-index: 1;
  }

  .promo__text-wrapper {
    margin-left: 15.5%;
    margin-bottom: 0;
    width: 420px;

    background-image: none;
    background-color: transparent;
  }

  .promo__title {
    margin: 58px 0 41px;
    padding: 0;
    width: 440px;

    color: $black-color;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }

  .promo__slogan {
    margin-bottom: 51px;
    padding-bottom: 0;

    color: $black-color;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .promo__image {
    bottom: -22px;
    z-index: -1;

    width: 709px;
    height: 609px;
  }

  .promo__link {
    display: inline-block;

    margin-left: 15.5%;
    padding: 15px 26px 17px;

    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding-bottom: 245px;
  }

  .promo__wrapper {
    margin: 0 auto;
    width: 1220px;
  }

  .promo__text-wrapper {
    margin-left: 80px;
  }

  .promo__title {
    margin-top: 105px;
  }

  .promo__image {
    left: 225px;
    bottom: 115px;

    width: 552px;
    height: 499px;
  }

  .promo__link {
    padding-top: 18px;
    margin-left: 80px;
  }
}
