.story {
  padding: 27px 0 35px;

  background-color: #eaeaea;
}

.story__title {
  margin: 0;
  margin-bottom: 33px;
  padding: 0 20px;

  color: $black-color;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
}

.story__description {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 20px;

  font-family: "Arial", sans-serif;
}

.story__stats-list {
  @include list-reset;

  display: flex;
  justify-content: space-between;

  margin: 0 auto;
  width: 280px;
}

.story__stats-item {
  position: relative;

  margin-bottom: 34px;
  width: 123px;
}

.story__stats-value {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 16px;

  color: $black-color;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.story__stats-description {
  position: absolute;
  bottom: -15px;
  left: 15%;

  padding: 0 10px;
  width: 60px;

  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: none;

  background-color: #eaeaea;
}

.story__costs-description {
  margin: 0;
  margin-bottom: 40px;

  color: $black-color;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.story__transfer {
  display: none;
}

.story__image {
  &--after {
    display: none;
  }
}

.story__range-image {
  position: relative;
  right: 5px;

  display: block;

  margin: 0 auto;
  margin-bottom: 34px;
  width: 311px;
  height: 232px;
}

.story__range {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  width: 197px;
}

.story__range-stripe {
  position: relative;

  margin: 0 auto;
  width: 82px;
  height: 12px;

  background-color: $white-color;

  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

.story__range-progress {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 35px;
  height: 6px;

  background-color: $green-color;

  border-radius: 6px;
}

.story__range-text {
  color: $black-color;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .story {
    padding: 40px 0 0;

    background-color: $white-color;
  }

  .story__title {
    margin: 0 auto;
    margin-bottom: 65px;
    width: 92%;

    font-size: 60px;
    line-height: 60px;
  }

  .story__description {
    margin: 0 auto;
    margin-bottom: 53px;
    width: 92%;

    font-size: 16px;
    line-height: 24px;
  }

  .story__transfer {
    display: block;
  }

  .story__stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
    margin-bottom: 253px;
    width: 92%;
  }

  .story__stats-list {
    display: grid;
    grid-template-columns: 162px 162px;
    gap: 20px 42px;

    margin: 0;
    width: 364px;
  }

  .story__stats-item {
    position: relative;
    margin-bottom: 0;
    width: 158px;
  }

  .story__stats-value {
    padding-bottom: 20px;

    font-size: 30px;
    line-height: 37px;
  }

  .story__stats-description {
    left: 8px;
    bottom: -5px;
    padding: 0 7px;

    width: auto;

    font-size: 14px;
    line-height: 14px;

    background-color: $white-color;

    &--weight {
      left: 25px;
    }
  }

  .story__costs {
    width: 180px;

    font-size: 20px;
    line-height: 20px;
  }

  .story__costs-description {
    display: inline-block;

    margin-top: -1px;
    margin-left: 3px;
    margin-bottom: 0;

    text-align: right;
  }

  .story__costs-value {
    display: block;

    margin-top: 9px;
  }

  .story__range {
    width: 75%;
  }

  .story__range-block {
    position: relative;

    padding-top: 360px;
    padding-bottom: 70px;

    background-color: #eaeaea;
  }

  .story__image-block {
    position: absolute;
    top: -170px;
    left: 50%;

    margin-left: -335px;
    width: 702px;
  }

  .story__image {
    width: 50%;
    height: 520px;
    overflow: hidden;

    &--before {
      width: 48%;
    }

    &--after {
      position: absolute;
      top: 0;
      right: 70px;
      width: 300px;
      display: block;
      z-index: 1;
    }
  }

  .story__range-image {
    width: 677px;
    height: auto;

    &--before {
      left: -5px;
      z-index: 2;
    }

    &--after {
      position: absolute;
      right: 0;
      width: 545px;
      z-index: 1;
    }
  }

  .story__range-stripe {
    position: relative;

    width: 75%;
    height: 6px;

    background-color: #dcdcdc;
    border: none;
    border-radius: 6px;
  }

  .story__range-progress {
    display: none;
  }

  .story__range-toggle {
    position: absolute;
    bottom: -16px;
    left: 50%;
    margin-left: -17px;
    width: 34px;
    height: 34px;
    background-color: $white-color;
    border: 1px solid #cdcdcd;
    border-radius: 50%;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      width: 10px;
      height: 10px;
      background-color: $green-color;
      border-radius: 50%;
    }

    &:hover {
      box-shadow: (0 2px 4px rgba($black-color, 0.2));
    }

    &:active {
      border-color: $green-color;
      box-shadow: (0 3px 5px rgba($black-color, 0.2));
    }
  }

  .story__range-text {
    font-size: 20px;
    line-height: 30px;

    border-bottom: 1px dotted;
    border-color: rgba($black-color, 0.4);
  }
}

@media (min-width: $desktop-width) {
  .story {
    padding: 0;
    padding-top: 70px;
  }

  .story__title {
    margin-bottom: 76px;
    width: 1220px;
  }

  .story__wrapper {
    padding: 70px 0 50px;
    width: 100%;

    background-color: #f2f2f2;
  }

  .story__inner-wrapper {
    display: flex;
    justify-content: space-between;

    margin: 0 auto;
    width: 1220px;
  }

  .story__description-block {
    width: 435px;
  }

  .story__description {
    margin-bottom: 69px;
    padding: 0;
    width: auto;
  }

  .story__transfer {
    display: none;
  }

  .story__stats {
    margin: 0;
  }

  .story__stats-list {
    margin: 0;
    margin-bottom: 50px;
  }

  .story__stats-description {
    background-color: #f2f2f2;
  }

  .story__costs {
    display: flex;
    align-items: flex-start;

    width: 435px;
  }

  .story__costs-value {
    display: inline-block;

    margin-left: 58px;
  }

  .story__range-block {
    padding-top: 293px;
    padding-bottom: 20px;
    width: 570px;

    background-color: transparent;
  }

  .story__range {
    width: 100%;
  }

  .story__image-block {
    top: -260px;
  }

  .story__range-image {
    &--before {
      left: -30px;
    }

    &--after {
      right: 28px;
    }
  }
}
